// Bootstrap colors
$theme-colors: (
    'light': #f9f9f9,
    'default': #4e4e4e,
);

// Colors
$background-color: #ffffff;

// Overlay
$z-overlay: 9999;

// Sidebar
$z-sidebar: 500;
$sidebar-width-closed: 70px;
$sidebar-width-open: 250px;

// Navbar
$z-navbar: 700;
$navbar-height: 70px;

// Transitions
$default-transition: ease-in-out .4s;
